apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: weather-dashboard
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - cluster: in-cluster
            url: https://kubernetes.default.svc
            environment: dev
            namespace: weather-dashboard-dev
            repoPath: k8s/overlays/dev
  template:
    metadata:
      name: 'weather-dashboard-{{environment}}'
      labels:
        app.kubernetes.io/name: weather-dashboard
        app.kubernetes.io/instance: '{{environment}}'
        app.kubernetes.io/managed-by: argocd
    spec:
      project: default
      source:
        repoURL: https://github.com/vincent-tsugranes/redhat-forecasting.git
        targetRevision: main
        path: '{{repoPath}}'
      destination:
        server: '{{url}}'
        namespace: '{{namespace}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
          allowEmpty: false
        syncOptions:
          - CreateNamespace=true
          - PruneLast=true
        retry:
          limit: 5
          backoff:
            duration: 5s
            factor: 2
            maxDuration: 3m
      ignoreDifferences:
        - group: apps
          kind: Deployment
          jsonPointers:
            - /spec/replicas
